.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.SearchBar input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.SearchBar button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.SearchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.Playlist-save {
  margin: 20px;
}