#banner {
  margin: 20px;
}

.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.SearchBar input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  background-color: rgb(79, 75, 75);
  border-radius: 8px;
  border: none;
}

.SearchBar button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 15px;
}

h1 {
  text-align: center;
}

.SearchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}


.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.Playlist-save {
  margin: 30px;
  padding: 7px;
}

.Playlist input {
  background-color: rgb(79, 75, 75);
  border-radius: 6px;
  padding: 8px;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: #fff;
  font-family: "Inter";
}

button {
  background-color: #00ff59a7;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color:black;
  font-weight: bold;
}

.Track {
  display: flex;
  margin: 15px;
}

.Track-action {
  padding: 10px;
  margin: 15px;
}

.Track {
  border: 1px solid;
  border-color: #ffffff73;
  border-radius: 9px;
  padding: 10px;
  margin: 20px;
}

.pop {
  background-color: gray;
}

.playlist-section {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 3px solid #888;
  border-radius: 10px;
  gap: 40px;
  justify-content: center;
}

.selected-panel {
  margin: 20px;
  padding: 30px;
  width: 40%;
  flex: 2;
}

.selected-panel li {
  list-style: number;
  padding: 9px;
  margin: 12px;
  border: 1px solid grey;
  border-radius: 5px;
}

.selected-panel li:hover {
  cursor: pointer;
  background-color: #444;
  border: 2px solid grey;
  border-radius: 5px;
}

.your-playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex:1;
  list-style: none;
  padding: 5px;
  margin: 3px;
  list-style: none;
  counter-reset: item;
}

.your-playlists li {
  cursor: pointer;
  padding: 4px;
  list-style: none;
  margin: 9px;
  display: inline-flex;
  border: 1px solid grey;
  border-radius: 5px;
  counter-increment: item;
}

.your-playlists li:hover {
  background: #444;
}

.your-playlists li::before {
  content: counter(item) '. ';
  left: 6px;
  color: #aaa;
  padding: 2px;
} 

.App-playlist {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.playlist-selector h2 {
  text-align: center;
  margin-bottom: 25px;
}